/* --- SECTION GET-DEMO --- */
#get-demo {
    flex-direction: column;
}
.card {
    background-color: rgb(181,221,255);
    border-radius: 30px;
    text-align: center;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}

.card > * {
    margin-bottom: 2rem;
}
.card1-text > * {
    margin-bottom: 2rem; 
}

.card .fa-solid {
    margin-bottom: 1rem;
}

#get-demo h2,
#get-demo .fa-solid {
    color: rgb(0,132,253);
}

#get-demo .fa-solid {
    font-size: 5rem;
}

.card h2,
.card p {
    font-weight: 700;
}

/* Prima card */
#card1-get-demo {
    padding: 2rem 1rem 0;
}
.card1-img {
    margin-top: 2rem;
    margin-bottom: 0;
}


/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    #get-demo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #get-demo .card {
        width: calc(100% / 3 - 1rem);
    }
    #get-demo #card1-get-demo {
        width: calc((100% / 3) * 2 - 0.5rem);
        text-align: start;
    }
    .card1-img {
        width: 60%;
    }
}
/* Desktop */
@media screen and (min-width: 1000px){
    #card1-get-demo {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .card1-text {
        width: 50%;
    }
    .card1-img {
        background-image: url(../img/phone.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .card1-img img {
        display: none;
    }
}



/* --- SECTION PLANNING --- */
#planning {
    flex-direction: column;
}
/* prima parte della section */
#planning .up-sx {
    color: white;
}
#planning .up-sx > * {
margin-bottom: 2.5rem;
}
#planning h2 {
    font-size: 2rem;
}

/* seconda parte della section */
#planning .card {
    background-color: white;
}
#planning .card p {
    font-style: italic;
}
.fa-arrow-down-long {
    background-color: rgb(151,146,228);
    border-radius: 50%;
    padding: 1rem 1.2rem;
    margin-bottom: 0;
    cursor: pointer;
}

/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    #planning h2 {
        font-size: 4rem;
    }
}
/* Desktop */
@media screen and (min-width: 1000px){
    #planning h2 {
        font-size: 1.5rem;
    }
    #planning {
        width: 60%;
        flex-direction: row;
        justify-content: space-around;
    }
    .up-sx  {
        width: 60%;
    }
    .bottom-dx {
        margin: 0;
        align-self: end;
        width: 30%;
    }
}


/* --- SECTION TESTIMONIALS --- */
#testimonials {
    text-align: center;
    font-size: larger;
}
#testimonials h2 {
    color: rgb(151,146,228);
    font-size: 2rem;
}
#testimonials > * {
    margin-bottom: 2rem;
}

.testimonial-card {
    background-color: rgb(151,146,228);
    color: white;
    padding: 2rem 1rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonial-img img {
    clip-path: circle()
}
.testimonial-name {
    text-transform: uppercase;
    display: block;
    padding-top: 1rem;
}

/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    #testimonials .testimonial-card{
        text-align: start;
    }
    .testimonial-card  {
        flex-direction: row;
        align-items: center;
    }
}


/* --- SECTION BENEFITS --- */
#benefits h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 2rem;
}

.benefit-card {
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    margin-bottom: 1.5rem;
}
.benefit-card > * {
    margin-bottom: 1.2rem;
}

.benefit-number,
.benefit-name {
    color: rgb(151,146,228);
    font-weight: 700;
    font-size: 2rem;
}

/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    #benefits h2 {
        font-size: 3rem;
    }
    .benefit-cards-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .benefit-card {
        width: calc(100% / 2 - 0.75rem);
    }
}
/* Desktop */
@media screen and (min-width: 1000px){
    .benefit-card {
        width: calc(100% / 3 - 1rem);
    }
}


/* -- SECTION ABOUT-US -- */
#about-us {
    flex-direction: column;
}
#about-us h2 {
    color: rgb(151,146,228);
    font-size: 3rem;
}

.about-text > * {
    margin-bottom: 1.5rem;
}

.about-img {
    width: 60%;
    position: relative;
}

.about-quote p {
margin: 1.5rem 0;
color: rgb(151,146,228);
font-weight: 700;
}

.about-img .fa-quote-left {
    position: absolute;
    top: 0px;
    right: 15%;
    color: rgb(151,146,228);
    font-size: 3rem; /* da tablet in su cambia */
    z-index: 50;
}
.about-img img {
    clip-path: circle();
}

/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    #about-us {
        flex-direction: row;
        justify-content: space-between;
    }
    .about-text {
        flex-basis: 50%;
    }

    .about-quote {
        flex-basis: 40%;
    }
    
}


/* -- SEZIONE GET STARTED -- */
#started {
    color: white;
    text-align: center;
    max-width: 90%;
    margin: auto;
}
#started p:first-of-type {
    font-weight: 700;
    font-size: 2rem;
}
#started h2 {
    color: rgb(253,193,95);
    font-size: 3rem;
}
#started .btn-getstarted {
    color: rgb(151,146,228);
    background-color: white;
    font-weight: 700;
    padding: 1rem 2.5rem;
    border-radius: 30px;
}
.copyright {
    font-size: small;
}

#started > * {
    margin: 2rem 0;
}

.copyright {
    font-size: smaller;
}
.copyright a {
    text-decoration: underline;
}

/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    #started {
        max-width: 50%;
    }
}

/* -- FOOTER -- */
footer {
    padding: 3rem 0;
    color: white;
    text-align: center;

    max-width: 90%;
    margin: auto;
}
footer a {
    color: blueviolet;
    text-decoration: underline;
}
footer p:first-of-type {
    margin-bottom: 3rem;
}

/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    footer {
        max-width: 50%;
    }
}