/* --- SECTION GET-DEMO --- */
#get-demo {
    flex-direction: column;
}
.card {
    background-color: rgb(181,221,255);
    border-radius: 30px;
    text-align: center;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}

.card > * {
    margin-bottom: 2rem;
}
.card1-text > * {
    margin-bottom: 2rem; 
}

.card .fa-solid {
    margin-bottom: 1rem;
}

#get-demo h2,
#get-demo .fa-solid {
    color: rgb(0,132,253);
}

#get-demo .fa-solid {
    font-size: 5rem;
}

.card h2,
.card p {
    font-weight: 700;
}

/* Prima card */
#card1-get-demo {
    padding: 2rem 1rem 0;
}
.card1-img {
    margin-top: 2rem;
    margin-bottom: 0;
}


/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    #get-demo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #get-demo .card {
        width: calc(100% / 3 - 1rem);
    }
    #get-demo #card1-get-demo {
        width: calc((100% / 3) * 2 - 0.5rem);
        text-align: start;
    }
    .card1-img {
        width: 60%;
    }
}
/* Desktop */
@media screen and (min-width: 1000px){
    #card1-get-demo {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .card1-text {
        width: 50%;
    }
    .card1-img {
        width: 40%;
        position: relative;
    }
    .card1-img img {
        width: 80%;
        position: absolute;
        bottom: 0;
    }
}



/* --- SECTION PLANNING --- */
#planning {
    flex-direction: column;
}
/* prima parte della section */
#planning .up-sx {
    color: white;
}
#planning .up-sx > * {
margin-bottom: 2.5rem;
}
#planning h2 {
    font-size: 2rem;
}

/* seconda parte della section */
#planning .card {
    background-color: white;
}
#planning .card p {
    font-style: italic;
}
.fa-arrow-down-long {
    background-color: rgb(151,146,228);
    border-radius: 50%;
    padding: 1rem 1.2rem;
    margin-bottom: 0;
}

/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    #planning h2 {
        font-size: 4rem;
    }
}
/* Desktop */
@media screen and (min-width: 1000px){
    #planning h2 {
        font-size: 1.5rem;
    }
    #planning {
        width: 60%;
        flex-direction: row;
        justify-content: space-around;
    }
    .up-sx  {
        width: 60%;
    }
    .bottom-dx {
        margin: 0;
        align-self: end;
        width: 30%;
    }
}


/* --- SECTION TESTIMONIALS --- */
#testimonials {
    text-align: center;
    font-size: larger;
}
#testimonials h2 {
    color: rgb(151,146,228);
    font-size: 2rem;
}
#testimonials > * {
    margin-bottom: 2rem;
}

.testimonial-card {
    background-color: rgb(151,146,228);
    color: white;
    padding: 2rem 1rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonial-img img {
    clip-path: circle()
}
.testimonial-name {
    text-transform: uppercase;
    display: block;
    padding-top: 1rem;
}

