#get-demo {
    flex-direction: column;
}
.card-get-demo {
    background-color: rgb(181,221,255);
    border-radius: 30px;
    text-align: center;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}

.card-get-demo > * {
    margin-bottom: 2rem;
}
.card1-text > * {
    margin-bottom: 2rem; 
}

.card-get-demo .fa-solid {
    margin-bottom: 1rem;
}

.card-get-demo h2,
.card-get-demo .fa-solid {
    color: rgb(0,132,253);
}

.card-get-demo .fa-solid {
    font-size: 5rem;
}

.card-get-demo h2,
.card-get-demo p {
    font-weight: 700;
}

/* Prima card */
#card1-get-demo {
    padding: 2rem 1rem 0;
}
.card1-img {
    margin-top: 2rem;
    margin-bottom: 0;
}


/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    #get-demo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card-get-demo {
        width: calc(100% / 3 - 1rem);
    }
    #card1-get-demo {
        width: calc((100% / 3) * 2 - 0.5rem);
        text-align: start;
    }
    .card1-img {
        width: 60%;
    }
}
/* Desktop */
@media screen and (min-width: 1000px){
    #card1-get-demo {
        display: flex;
        position: relative;
    }
    .card1-text {
        width: 50%;
    }
    .card1-img {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
