/* --- SECTION GET-DEMO --- */
#get-demo {
    flex-direction: column;
}
.card {
    background-color: rgb(181,221,255);
    border-radius: 30px;
    text-align: center;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}

.card > * {
    margin-bottom: 2rem;
}
.card1-text > * {
    margin-bottom: 2rem; 
}

.card .fa-solid {
    margin-bottom: 1rem;
}

#get-demo h2,
#get-demo .fa-solid {
    color: rgb(0,132,253);
}

#get-demo .fa-solid {
    font-size: 5rem;
}

.card h2,
.card p {
    font-weight: 700;
}

/* Prima card */
#card1-get-demo {
    padding: 2rem 1rem 0;
}
.card1-img {
    margin-top: 2rem;
    margin-bottom: 0;
}


/* BREAKPOINTS */
/* Tablet */
@media screen and (min-width: 600px){
    #get-demo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #get-demo .card {
        width: calc(100% / 3 - 1rem);
    }
    #card1-get-demo {
        width: calc((100% / 3) * 2 - 0.5rem);
        text-align: start;
    }
    .card1-img {
        width: 60%;
    }
}
/* Desktop */
@media screen and (min-width: 1000px){
    #card1-get-demo {
        display: flex;
        position: relative;
    }
    .card1-text {
        width: 50%;
    }
    .card1-img {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

/* --- SECTION PLANNING --- */
#planning {
    flex-direction: column;
}
/* prima parte della section */
#planning .up-sx {
    color: white;
}
#planning .up-sx > * {
margin-bottom: 2.5rem;
}
#planning h2 {
    font-size: 2rem;
}

/* seconda parte della section */
#planning .card {
    background-color: white;
}
#planning .card p {
    font-style: italic;
}
.fa-arrow-down-long {
    background-color: rgb(151,146,228);
    border-radius: 50%;
    padding: 1rem 1.2rem;
    margin-bottom: 0;
}
